<% if @articles.count == 0 %>
  <div class="no_articles">No articles yet, create it!</div>
<% else %>
  <div id="body">
    <div class="index-new">
      <div class="inner">
        <div class="title-new">Content Management System</div>
        <div class="menu">
          <span><%= link_to 'Create article', new_article_path %></span>
          <span><%= link_to "Show planned articles", "#" , { onClick: "showArticles(event);" } %></span>
        </div>
        <div class="article-index-outer" id="toggle">
          <div class="title-published">Planned articles</div>
          <% @articles_planned.each do |article| %>
            <div class="article-index"><%= link_to article.menu_label, article %></div>
          <% end %>
        </div>
        <div class="article-index-outer">
          <div class="title-published">Published articles</div>
          <% @articles_published.each do |article| %>
            <div class="article-index">
              <%= link_to article do %>
                <span><%= article.menu_label %></span>
              <% end %>
            </div>
          <% end %>
        </div>
        <div id="clear"></div>
      </div>
    </div>
  </div>
<% end %>
