<% content_for :for_head do %>
  <title><%= @article.title %></title>
  <meta name="description" content="<%= @article.description %>">
<% end %>

<div class="show">
  <div class="button first_button"><%= link_to("Main page", root_path) %></div>
  <div class="button second_button"><%= link_to 'Change page', edit_article_path(@article) %></div>
  <div class="button third_button"><%= link_to 'Delete page', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %></div>

  <h1 class="title_article"><%= @article.h1 %></h1>

  <div class="text_article">
    <%== sanitize @article.content %>
  </div>
</div>
